<h1>
    What Is Compound Interest? 
</h1>
Compound interest is interest that applies not only to the initial principal of an investment or a loan, but also to the accumulated interest from previous periods. In other words, compound interest involves earning, or owing, interest on your interest.

The power of compounding helps a sum of money grow faster than if just simple interest were calculated on the principal alone. And the greater the number of compounding periods, the greater the compound interest growth will be. For savings and investments, compound interest is your friend, as it multiplies your money at an accelerated rate. But if you have debt, compounding of the interest you owe can make it increasingly difficult to pay off.

<br><br><br>
<h1>How Compound Interest Works</h1>


Compound interest is calculated by multiplying the initial principal amount by one plus the annual interest rate raised to the number of compound periods minus one. The total initial principal or amount of the loan is then subtracted from the resulting value.

<br><br><br>
<img src="../assets/compound.jpg" alt="compound" id="chart">

<br><br><br>

<h1>The Power of Compound Interest</h1>


Because compound interest includes interest accumulated in previous periods, it grows at an ever-accelerating rate. In the example above, though the total interest payable over the loan's three years is $1,576.25, the interest amount is not the same as it would be with simple interest. The interest payable at the end of each year is shown in the table below.