<div class="form"><form (ngSubmit)="submit()">

    <div class="top-row">
        <div class="field-wrap">
          <label>
            Initial Investment
          </label>
          <input type="number" id="initialInvestment" name="initialInvestment" [(ngModel)]="initialInvestment" required autocomplete="off" />
        </div>
    
        <div class="field-wrap">
          <label>
            Monthly Investment
          </label>
          <input type="number" id="munthlyInvestment" name="munthlyInvestment" [(ngModel)]="munthlyInvestment" required autocomplete="off" />
        </div>
      </div>
      
    <div class="top-row">
        <div class="field-wrap">
          <label>
            Duration(in months)
          </label>
          <input type="number" id="duration" name="duration" [(ngModel)]="duration" required autocomplete="off" />
        </div>
    
        <div class="field-wrap">
          <label>
            Expected Return
          </label>
          <input type="number" id="expectedReturn" name="expectedReturn" [(ngModel)]="expectedReturn"  required autocomplete="off" />
        </div>
      </div>

    <!-- <p>
        <label for="title">Initial Investment</label>
        <input type="number" id="initialInvestment" name="initialInvestment" [(ngModel)]="initialInvestment" />
    </p>
    <p>
        <label for="title">Monthly Investment</label>
        <input type="number" id="annualInvestment" name="annualInvestment" [(ngModel)]="annualInvestment" />
    </p> -->
    <!-- <p>
        <label for="title">Duration(in months)</label>
        <input type="number" id="duration" name="duration" [(ngModel)]="duration" />
    </p>
    <p>
        <label for="title">Expected Return</label>
        <input type="number" id="expectedReturn" name="expectedReturn" [(ngModel)]="expectedReturn" />
    </p> -->

    <button type="submit" class="button button-block">Get Started</button>

</form>
</div>