<nav class="navbar">

  <section class="container">
    <div class="logo"><a routerLink="" class="menu-link" routerLinkActive="active"
        [routerLinkActiveOptions]={exact:true}>
        <img src="logo.jpg" alt="My App Logo" />
      </a>
    </div>

    <ul class="menu">
      <li class="menu-list">
        <a routerLink="" class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
          Home
        </a>
      </li>
      <li class="menu-list">
        <a routerLink="/investment" class="menu-link" routerLinkActive="active">
          Investment
        </a>
      </li>
    </ul>

  </section>
</nav>