<div class="table">
    <table class="eael-data-table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Invested Amount</th>
            <th>Intrest</th>
            <th>Ending Balance</th>
        </tr>
    </thead>
    <tbody>

        @for(x of data; track x.count){
        <tr>
            <td>
                {{x.count }}
            </td>
            <td>
                {{x.investmentValue}}
            </td>
            <td>
                {{x.intrest}}
            </td>
            <td>
                {{x.investedCapital}}
            </td>
        </tr>
        }

    </tbody>
</table>
</div>